name: Lint

on:
  push:
    branches-ignore:
      - main
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PYTHON_VERSION: '3.14'
  CSPELL_VERSION: '8.0.0'
  BLACK_VERSION: '24.10.0'
  PRETTIER_VERSION: '3.3.3'
  COMMITLINT_CLI_VERSION: '20.2.0'

jobs:
  install-commitlint:
    runs-on: ubuntu-latest
    steps:
      - &checkout-code
        name: Checkout code (shallow)
        uses: actions/checkout@v6

      - &cache-commitlint
        name: Cache Commitlint
        id: cache-commitlint
        uses: actions/cache@v5
        with:
          path: node_modules
          key: v4-commitlint-${{ env.COMMITLINT_CLI_VERSION }}

      - name: Install Commitlint
        if: steps.cache-commitlint.outputs.cache-hit != 'true'
        run: npm i -D @commitlint/cli@${{ env.COMMITLINT_CLI_VERSION }} @commitlint/config-conventional

  run-commitlint:
    runs-on: ubuntu-latest
    needs: install-commitlint
    steps:
      - name: Checkout code (full)
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - *cache-commitlint

      - name: Run commitlint
        run: |
          git checkout main
          git checkout -
          ./node_modules/.bin/commitlint --from main --to HEAD --verbose

  install-prettier:
    runs-on: ubuntu-latest
    steps:
      - *checkout-code

      - &cache-prettier
        name: Cache Prettier
        id: cache-prettier
        uses: actions/cache@v5
        with:
          path: node_modules
          key: v1-prettier-${{ env.PRETTIER_VERSION }}

      - name: Install Prettier
        if: steps.cache-prettier.outputs.cache-hit != 'true'
        run: npm i -D prettier@${{ env.PRETTIER_VERSION }}

  run-prettier:
    runs-on: ubuntu-latest
    needs: install-prettier
    steps:
      - *checkout-code
      - *cache-prettier

      - name: Run Prettier check
        run: ./node_modules/.bin/prettier --check .

  run-black:
    runs-on: ubuntu-latest
    steps:
      - *checkout-code

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '${{ env.PYTHON_VERSION }}'

      - name: Cache Black
        uses: actions/cache@v5
        id: cache-black
        with:
          path: ~/.cache/pip
          key: v1-black-${{ env.BLACK_VERSION }}

      - name: Install Black
        run: pip install black==${{ env.BLACK_VERSION }}

      - name: Run Black check
        run: black --check .

  install-cspell:
    runs-on: ubuntu-latest
    steps:
      - *checkout-code

      - &cache-cspell
        name: Cache CSpell
        id: cache-cspell
        uses: actions/cache@v5
        with:
          path: node_modules
          key: v1-cspell-${{ env.CSPELL_VERSION }}

      - name: Install CSpell
        if: steps.cache-cspell.outputs.cache-hit != 'true'
        run: npm i -D cspell

  run-cspell:
    runs-on: ubuntu-latest
    needs: install-cspell
    steps:
      - *checkout-code
      - *cache-cspell

      - name: Run CSpell check
        run: ./node_modules/.bin/cspell
